<!-- start  section -->
<section class="container-fluid">
  <!-- row -->
  <div class="row text-center">
      <!-- col -->
      <div class="col">
          <!-- header -->
          <h2 class="mt-md-5 text-oswald">
      Opppps your search returned no results!
    </h2>
          <!-- end header -->
          <hr class="hr-color" />

          <!-- col wrapping text-->
          <div class="col">
              <!--  text -->
              <h5 class="text-barlow txt-lg">
        Apologies click on the links below to return to you search
      </h5>
              <!-- end text -->
          </div>
          <!-- row wrapping links -->
          <div class="row justify-content-center">
              <!-- col  wrapping links -->
              <div class="col">
                  <!-- link to home page -->
                  <a href="/" class="text-oswald purple mr-3 txt-lg">Home</a>
                  <!-- end link -->
                  <!-- link to bookmarks page -->
                  <a href="{{url_for('users')}}" class="text-oswald purple ml-3 txt-lg">bookmarks</a
        >
        <!-- end link -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<!-- start img wrapper row -->
<div class="row mt-md-3">
  <!-- start img wrapper col -->
  <div class="col text-center">
    <!-- start img -->
    <img
      src="https://res.cloudinary.com/plyn85/image/upload/c_scale,w_100/v1586212008/bookmarks-app/magazine-clipart-student-book-6_atesf2.png"
      alt="an image of a book"
      class="img-fluid"
    />
  </div>
  <!-- end col -->
</div>
<!-- end row -->
</section>
<!-- end section -->