<!--Footer section-->
<section>
  <!-- start of footer -->
  <footer class="fixed-bottom text-center white font-weight-bold text-barlow">
      <!-- copyright -->
      <span>© 2020 Copyright</span>
      <!-- end copyright -->

      <!-- centering footer text here  -->
      <a href="https://github.com/plyn85" target="_blank" class="white">
          <!-- git hub icon -->
          <i class="fab fa-github ml-3"></i>
          <!-- github link text -->
          <span class="ml-1">https://github.com/plyn85</span>
          <!-- end text -->
      </a>
      <!-- end link -->
  </footer>
  <!-- end of Footer -->
</section>
<!-- end section -->