
<section>
   <!-- bookmarks section -->
   <div class="row">
    {%for cat in categories%} {% for book in bookmarks %}
    <div class="col-lg-6" id="bookmarks">
      
      <div class="card">
        <div class="card-body text-center">
          {% if cat.category_name == book.category_name %} {%endif%}
          <h2 class="card-title text-oswald uppercase">
            {{book.category_name| truncate(30, killwords=True) }}
          </h2>
          <hr class="hr-color" />
          <p class="card-text text-barlow">
            <a href="{{book.add_bookmark_url}}" target="_blank"
              >{{book.add_bookmark_url| truncate(30, killwords=True) }}</a
            >
          </p>
          <p class="card-text">
            {{book.bookmark_description |truncate (50, killwords=True) }}
          </p>
          {%if book.name== users.name%}
          <p class="card-text text-barlow">
            Added by
            <mark class="text-dark">{{book.username}}</mark>
            on {{book.last_modified}}
          </p>
          {%endif%}
          
          <div class="row mb-3">
            <!-- to prevent user from liking there own bookmark -->
            {%if book.username != session['username']%}
            <a
            href="{{ url_for('upvote', book_id=book._id) }}"
            class="upvote col like-btn   
            " id="test">
          
            <i class="fas fa-thumbs-up  upvote"></i> Like</a
            >
            
            {%endif%}
          </div>
          <div class="row">
            <p class="col card-text text-barlow">
              <!-- if likes are  one user is displayed for any other number users is displayed -->
              Liked by {% if book.upvotes == 1%}
              <span class="text-primary mx-2">{{book.upvotes}}</span>Other user
              {%else%}
              <span class="text-primary mx-2">{{book.upvotes}}</span>Other users
              {%endif%}
            </p>
          </div>
          <!-- delete button can only be seen on users own bookmarks -->
          {%if book.username == session['username']%}
          <a href="{{url_for('delete_bookmark', book_id=book._id)}}">
            <button type="button" class="btn btn-primary btn-sm mt-2">
              Delete
            </button></a
          >
          {%endif%}
        </div>
      </div>
    </div>
  
    {%endfor%}{%endfor%}
  </div>

  <!-- pagination taken an altered from a tutorial found in slack archives and at  
   https://github.com/MiroslavSvec/DCD_lead/tree/pagination -->

<!-- pagination section -->
  {% if args.num_results > args.p_limit %}
 
    <div class="row justify-content-around mt-4">
      <!-- 
			If this is first page (offset == 0) 
			prev_url link should not be displayed 
    -->
        {% if args.p_offset > 0 %}
       <a
          href="{{ args.prev_url }}"
          class="upvote text-center col-6"
          ><i class="fas fa-hand-point-left hand-point"></i> Prev</a
        >
        <a>
        
        {% endif %}
      <!-- 
			If this is last page (offset + limit == lenght of the documents) 
			next_url link should not be displayed 
		-->
      {% if args.p_offset + args.p_limit < args.num_results %}
     <a
      href="{{ args.next_url }}"
      class="upvote text-center col-6"
      >Next<i class="fas fa-hand-point-right hand-point"></i> </a
    >
    {% endif %} {% endif %} 
      </div>

</section>
