<!-- extends base html -->
{% extends 'base.html' %}
<!-- adding navbar as a a partial  -->
{%block nav%} {%include "partials/_navbar.html"%} {%endblock%}
<!-- end navbar -->
<!-- start block content -->
{% block content %}
<!-- Including paritals flashed messages  -->
{%include "partials/_flashed_messesges.html"%}
<!-- end partial -->
<!-- including partials callotsection -->
{%include "partials/_callout.html"%}
<!-- end partial -->
<!-- including partials callotsection -->
{%include "partials/_callout_loggedout.html"%}
<!-- end partial -->
<!-- start of denfensive element bookmarks and search bar can only be veiwed by logged In users -->
{% if session['logged_in']%}
<!-- start  of search bar and sort bar section-->
<section>
  <!-- start of row  that wraps header-->
  <div class="row justify-content-center mt-4">
    <!-- col that wraps header-->
    <div class="col-lg-6">
      <!-- bookmarks header -->
      <h4 class="text-oswald mt-5 text-center uppercase font-weight-bold">
        Our Most Popular Bookmarks
      </h4>
      <hr class="hr-color" />
      <!-- end header -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
 

  <!-- row wraps search bar an sort bars-->
  <div class="row">
    <!-- col that  wraps search bar  -->
    <div class="col-lg-6 ml-md-5 ml-lg-0 text-center">
      <!-- search bar form activates search results route located in app.py -->
      <form action="{{ url_for('search_results') }}" method="post">
        <!-- row wraps search bar input  -->
        <div class="form-group row justify-content-center">
          <!-- input search text goes here  -->
          <input
            class="col-8 form-control"
            type="text"
            id="search_bar"
            name="search_bar"
            placeholder="Search"
          />
          <!-- end input -->

          <!-- submit button for search bar  -->
          <button class="btn text-barlow col-2" type="submit">
            Go
          </button>
          <!-- end button -->
        </div>
        <!-- end row -->
      </form>
      <!-- end form -->
    </form>
    <!-- end form -->
  </div>
  <!-- end col -->

<!-- col wraps sort by bar -->
<div class="col mt-3 mt-lg-0 mr-3 mr-md-5 mr-lg-0">
  <!-- start form -->
  <form class="m-3 m-md-0 text-center" method="POST" action="{{url_for('sort_by_latest')}}">
    <!-- start row  -->
    <div class="form-group row">
      <!-- start col -->
      <div class="input-group col-10">
        <!-- staart span -->
          <span class="text-barlow purple txt-lg">Sort By</span>
              <!-- start select -->
          <select name="sort_by" class="form-control">
                <!-- options -->
            <option value=""selected disabled >Most Popular</option>
            <option value="">Latest</option>
              <!-- end options -->
            </select>
            <!-- end select -->
      </div>
      <!-- end input group -->

           <!-- submit button for sort by -->
           <button class="btn text-barlow col-2" type="submit">
            Go
          </button>
          <!-- end button -->
  </form>
  <!-- end form -->
</div>
<!-- end col -->
</div>
  <!-- end row -->
</section>

<!-- end search bar section -->
<!-- pagintion html included -->
{%include "partials/_pagination.html"%}

<!-- bookmarks  html page added here  -->
{%include 'partials/_bookmarks.html'%} 
<!-- pagination parital included -->
{%include "partials/_pagination.html"%} 
<!-- end partials -->
{%endif%}
{% endblock content %}
<!-- end block content -->
<!-- end defensive element if statement -->
<!-- adding footer as a a partial  -->
{%block footer%} {%include "partials/_footer.html"%} {%endblock%}
<!-- end footer partial -->