@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Oswald&display=swap:,600,700,800");

/* reusable components */
.text-oswald {
  font-family: "Oswald", sans-serif;
}
.flashed-messages,
.text-barlow {
  font-family: "Barlow Semi Condensed", sans-serif;
}
.white {
  color: #ffffff;
}

.yellow-background {
  background-color: #ffc107;
  height: 100vh;
}

/* inital set up */
/* Setting default font size for page */
body,
html {
  font-size: 16px;
}

/* navbar */
/* fixed navbar  added here z-index added to put navbar on top of background Image  */

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* removing all margins and padding from bootsrap rows an cols */
.container-fluid,
.container,
.row {
  margin: 0;
  padding: 0;
}

/* end Inital setup */
/* 
targeting flashed messages */
.flashed-messages {
  position: fixed;
  top: 10;
  left: 10;
  width: 100%;
  font-size: 1.3rem;
  z-index: 1;
}

/* buttons */
/* targeting the reset data button and callout main text here  */

.data-btn {
  border-radius: 5px;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 700;
}
/* main body */

/* setting fonts */
.callout-main-text,
.navbar-brand,
.navbar-nav .nav-link {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.callout-main-text {
  font-size: 1.8rem;
  font-weight: 900;
  color: #000000;
}

/* callout section */
/* wrapper for callout Image */
.img-wrapper {
  height: 100%;
  width: 100%;
}

/* fixed background Image added here to take up full view height */
.callout-container {
  height: 100vh;
  background: url("https://res.cloudinary.com/plyn85/image/upload/v1582221083/bookmarks-app/2x-Blog-Best-eLearning-Websites-Update-animation_emlb26.gif")
    no-repeat fixed;
  background-position-x: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

/* positioning callout text here  */
#callout-text {
  margin-top: 0.4rem;
  position: relative;
}

/* taken an modified from tutorial at  https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=simple-registration-form  */
/* signup/registration/logout/login/bookmarks was reused on all these pages */

.signup-form {
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h2 {
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}
.signup-form h2:before {
  left: 0;
}
.signup-form h2:after {
  right: 0;
}
.signup-form .hint-text {
  color: #000000;
  margin-bottom: 30px;
  text-align: center;
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
  margin-top: 3px;
}
.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important;
}
.signup-form .row div:first-child {
  padding-right: 10px;
}
.signup-form .row div:last-child {
  padding-left: 10px;
}
.signup-form a {
  color: #182491;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}

/*end */
