@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Oswald&display=swap:,600,700,800");

/* inital set up */

/* Setting default font size for page */

body,
html {
  font-size: 16px;
}

/* setting fonts */

.callout-main-text,
.navbar-brand,
.navbar-nav .nav-link {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

/* removing all margins and padding from bootsrap rows an cols */

.container-fluid,
.container,
.row {
  margin: 0;
  padding: 0;
}

/* reusable components */

.text-oswald {
  font-family: "Oswald", sans-serif;
}
.flashed-messages,
.text-barlow {
  font-family: "Barlow Semi Condensed", sans-serif;
}
.white {
  color: #ffffff;
}
.uppercase {
  text-transform: uppercase;
}
.card p {
  font-size: 1.5rem;
}

.hand-point {
  font-size: 3rem;
}
.upvote {
  font-size: 1.5rem;
}
.hide-content {
  display: none;
}
.purple {
  color: #7d3cff;
}
/* changing all input placeholders text below
barlow repeated as it takes less code that way
*/

input::-webkit-input-placeholder {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Barlow Semi Condensed", sans-serif;
}

input::-moz-placeholder {
  font-size: 1.5rem;
}

input:-ms-input-placeholder {
  font-size: 1.5rem;
}

input::-ms-input-placeholder {
  font-size: 1.5rem;
}

input::-webkit-input-placeholder {
  font-size: 1.5rem;
}

input::placeholder {
  font-size: 1.5rem;
}

/* main body */

body {
  background-color: #fceed1;
}

.hr-color {
  border: 0.5px solid#7d3cff;
}

/* navbar */
/* fixed navbar  added here z-index added to put navbar on top of background Image  */
.nav-link {
  color: #ffffff;
}
.navbar-fixed-top {
  background-color:#7d3cff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* 
targeting flashed messages */
.flashed-messages {
  margin-top: 5rem;
  width: 100%;
  font-size: 1.3rem;
  z-index: 1;
}

/* navbar toggler icon style set here  */
.fa-bars{
color:#ffffff; 
font-size: 2.2rem;
}

/* targeting all buttons but the card buttons here  */
.btn {
  background-color: #7d3cff;
  border-radius: 5px;
  font-weight: 700;
}

/* callout section */

.callout-main-text {
  font-size: 1.8rem;
  font-weight: 300;
  color: #7d3cff;
}

/* taken an modified from tutorial at  https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=simple-registration-form  */
/* signup/registration/logout/login/bookmarks was reused on all these pages */
.signup-form {
  width: 34rem;
  margin: 0 auto;
  padding: 2rem 0;
}
.signup-form h2,
h3 {
  color: #000000;
  margin: 0 0 1rem;
  position: relative;
  text-align: center;
}
.signup-form h2:before {
  left: 0;
}
.signup-form h2:after {
  right: 0;
}
.signup-form .hint-text {
  color: #7d3cff;
  margin-bottom: 2rem;
  text-align: center;
}
.signup-form form {
  color: #999;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  background: #fdedcc;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 2rem;
}

/*end */

/* changing bootstrap cards to suit website layout */
#home-page-cards-link {
  font-weight: 700;
  color: #7d3cff;
}
.card {
  font-weight: 700;
  min-width: 50%;
  border: 2px solid #7d3cff;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
.card-body {
  background-color: #fceed1;
}
/* footer */

/* setting footer color */
footer {
background-color: #7d3cff;

 
}

/* media queries */

/* for smallest devices */

@media (max-width: 768px) {
  .callout-main-text {
    font-size: 1.4rem;
  }
  /* setting smaller btn font for mobile */
  .btn {
    font-size: 0.7rem;
  }
  .signup-form {
    width: 18rem;
  }
}
