<!-- extends base html  -->
{% extends 'base.html' %}
<!-- adding navbar as a a partial  -->
{%block nav%} {%include "partials/_navbar.html"%} {%endblock%}
<!-- end navbar -->
<!-- starts block content -->
{% block content %}
<!-- start 500 error handling section -->
<section>
    <!-- row  wrapping 500 error -->
    <div class="row text-center">
        <!-- col wrapping header -->
        <div class="col">
            <!-- header -->
            <h2 class="mt-5 text-oswald">Opppps something went wrong!</h2>
            <hr class="hr-color" />
            <!-- end header -->

            <!-- col wrapping 500 error text-->
            <div class="col">
                <!-- 500  error text -->
                <h5 class="text-barlow txt-lg">
          Apologies for the Inconvenience. It looks like our server Is
          expereincing some Issues please click on the link to the home page
          below or any our links above to other pages
        </h5>
                <!-- end text -->
            </div>
            <!-- end col -->

            <!-- link to home page -->
            <h3>
        <a href="/" class="text-oswald purple">Home</a>
      </h3>
            <!-- end link -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <!-- start img wrapper row -->
    <div class="row mt-md-5">
        <!-- start img wrapper col -->
        <div class="col text-center">
            <!-- start img -->
            <img src="https://res.cloudinary.com/plyn85/image/upload/c_scale,w_200/v1586212008/bookmarks-app/magazine-clipart-student-book-6_atesf2.png" alt="an image of a book" class="img-fluid" />
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</section>
<!-- end section -->
{%endblock%}
<!-- end block content -->