<!-- extends base html  -->
{% extends 'base.html' %}
<!-- starts block content -->
{% block content %}

<!-- start 404 error handling section -->
<section>
  <!-- row  wrapping 404 error -->
  <div class="row text-center">
    <!-- col wrapping header -->
    <div class="col">
      <!-- header -->
      <h2 class="mt-md-5 text-oswald">Opppps something went wrong!</h2>
      <!-- end header -->
      <hr class="hr-color" />

      <!-- col wrapping 404 error text-->
      <div class="col">
        <!-- 404  error text -->
        <h5 class="text-barlow txt-lg">
          Apologies for the Inconvenience please click on the link to the home
          page below or any our links above to other pages
        </h5>
        <!-- end text -->

        <!-- link to home page -->
        <h3><a href="/" class="text-oswald purple">Home</a></h3>
        <!-- end link -->
      </div>
      <!-- end col  -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
  <!-- start img wrapper row -->
  <div class="row mt-md-5">
    <!-- start img wrapper col -->
    <div class="col text-center">
      <!-- start img -->
      <img
        src="https://res.cloudinary.com/plyn85/image/upload/c_scale,w_200/v1586212008/bookmarks-app/magazine-clipart-student-book-6_atesf2.png"
        alt="an image of a book"
        class="img-fluid"
      />
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</section>
<!-- end section -->
{%endblock%}
<!-- end block content -->
