<!-- extends base html  -->
{% extends 'base.html' %}
<!-- starts block content -->
{% block content %}
<!-- start 500 error handling section -->
<section>
  <!-- row  wrapping 500 error -->
  <div class="row text-center">
    <!-- col wrapping header -->
    <div class="col">
      <!-- header -->
      <h2 class="mt-5 text-oswald">Opppps something went wrong!</h2>
      <hr class="hr-color" />
      <!-- end header -->

    <!-- col wrapping 500 error text-->
    <div class="col">
      <!-- 500  error text -->
      <h5 class="text-barlow txt-lg">
        Apologies for the Inconvenience. It looks like our server Is
        expereincing some Issues please click on the link to the home page below
        or any our links above to other pages
      </h5>
      <!-- end text -->
    </div>
    <!-- end col -->

    <!-- link to home page -->
    <h3>
      <a href="/" class="text-oswald">Home</a>
    </h3>
    <!-- end link -->
  </div>
  <!-- end col -->
</div>
<!-- end col -->
</div>
<!-- end row -->
</section>
<!-- end section -->
{%endblock%}
<!-- end block content -->
