{% extends 'base.html' %} {% block content %}
<!-- taken an modified from tutorial https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=simple-login-form-->
<section class="background-height">
  <div class="signup-form mt-5">
    <form action="{{ url_for('insert_bookmark') }}" method="post">
      <h2 class="text-center text-barlow">Add bookmark</h2>
      <p class="hint-text text-barlow">
        Copy and paste your bookmark url below
      </p>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="add_bookmark_url"
          placeholder="Add your url here"
          required="required"
        />
      </div>
      <p class="hint-text text-barlow">
        Add your category below
      </p>
      <div class="form-group" class="row">
        <select class="col" name="category_name">
          <option value="" disable selected>category name </option>
          {%for cat in categories%}
          <option value="{{cat.category_name}}">{{cat.category_name}}</option>
          {%endfor%}
        </select>
      </div>
      <p class="hint-text text-barlow">
        Add a description for your bookmark below
      </p>
      <div class="form-group">
        <textarea
          class="form-control text-barlow"
          name="bookmark_description"
          rows="3"
        >
Enter text here...</textarea
        >
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block text-barlow">
          Add bookmark
        </button>
      </div>
    </form>
  </div>
</section>
{% endblock content %}
