<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- taken from a tutorial found at https://www.youtube.com/watch?v=QnDWIZuWYW0 -->
   <!-- If no title has been passed in just bookmarks app will be displayed other wise bookamrks app plus the passed in title will be -->
   
   <!-- start if statment -->
   {%if title%} 
   <!-- title -->
   <title>bookmarks-{{title}}</title>
   <!-- start else block -->
   {%else%}
   <!-- title -->
   <title>bookmarks-app</title>
   {%endif%}
    <!-- end if -->

  <!-- adding favicon -->
    <link
    rel="shortcut icon"
    type="image/png"
    href="https://res.cloudinary.com/plyn85/image/upload/c_scale,w_150/v1586212008/bookmarks-app/magazine-clipart-student-book-6_atesf2.png"
  />
<!-- style sheet links -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel='stylesheet' href='{{url_for('static', filename =
    'css/main.css')}}' />
  
  </head>
  <!-- start body -->
  <body>
    <!-- start header -->
    <header>
      <!-- copy an pasted an altered from https://getbootstrap.com/docs/4.3/components/navbar/ -->

      <!-- start of navbar navbar bar will appear on every page -->
      <nav
      class="navbar navbar-expand-lg navbar-fixed-top"
      >
      <!-- navbar bookmarks logo added here always links to home page -->
      <a class="navbar-brand" href="{{url_for('index')}}"><img src="https://res.cloudinary.com/plyn85/image/upload/c_scale,w_50/v1586212008/bookmarks-app/magazine-clipart-student-book-6_atesf2.png" alt="an image of the bookmarks logo"></a>
      <!-- end logo -->

      <!-- nav button -->
      <button
      class="navbar-toggler custom-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon">
          <!-- setting customer navbar toggler icon -->
        <i class="fas fa-bars"></i>
    </span>
    </button>
    <!-- end button -->

    <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarNav"
    >
    <!-- navbar links added here  -->
    <ul class="navbar-nav">
      <!-- link to home -->
      <li class="nav-item active">
              <a class="nav-link" href="{{url_for('index')}}"
              >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <!-- if any user is logged in  -->
            {% if session['logged_in']%}
            <!-- link to my bookmarks only visable if any user is logged will bring users to there own bookmarks page  -->
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('users')}}"
              >My Bookmarks</a
              >
            </li>
            <!-- link to add a bookmark page for the user only visable if any user is logged in -->
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('add_bookmark')}}">
                Add Bookmark</a
                >
              </li>
              <!-- link to users categories page only visable when the user is logged in -->
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('user_categories')}}"
                >Categories</a
                >
              </li>
              <!-- link to add category page only visabale when the user is logged in  -->
              <li class="nav-item mr-5">
                <a class="nav-link" href="{{url_for('add_category')}}"
                >Add Category</a
                >
              </li>
              <!-- allows the user to logout, links to logout route in app.py only visabale when the user is logged in  -->
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
              </li>
              <!-- both login and register will only be visable if no users are  logged in using the else block-->
              {% else %}
              <!-- login -->
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
              </li>
              <!-- register -->
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('register')}}">Register</a>
              </li>
              {% endif %}
              <!-- if statment ends -->
            </ul>
          </div>
      </nav>
      <!-- end of navbar -->
    </header>           
      <!-- conatiner fluid postion added here will wrap every section used on all pages -->
      <div class="container-fluid mt-5">
        {% block content %}{% endblock %}
    </div>
    <!-- end container -->

     <!--Footer section-->
      <section>
        <!-- start of footer -->
        <footer class="fixed-bottom text-center py-3 pt-3 white font-weight-bold text-barlow">
           <!-- copyright -->
          <span>© 2020 Copyright</span>
           <!-- end copyright -->

            <!-- centering footer text here  -->
            <a href="https://github.com/plyn85" target="_blank" class="white">
              <!-- git hub icon -->
              <i class="fab fa-github ml-3"></i>
              <!-- github link text -->
              <span class="ml-1">https://github.com/plyn85</span>
              <!-- end text -->
            </a>
            <!-- end link -->
        </footer>
        <!-- end of Footer -->
      </section>
      <!-- end section -->

    <!-- scripts added here avilable to be across all pages  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
    ></script>

    <script src='{{url_for('static', filename =
    'js/main.js')}}'></script>
  </body>
  </html>
  