{% extends 'base.html' %} {% block content %}
<section class="siginup-form yellow-background">
  <div class="row justify-content-center bookmarks-page-list">
    {% for book in bookmarks %}
    <div class="list-group col-8">
      <a
        href="{{book.add_bookmark_url}}"
        class="list-group-item list-group-item-action flex-column align-items-start active"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-barlow">{{book.add_bookmark_url}}</h5>
        </div>
        <p class="mb-1 text-barlow">
          {{book.bookmark_description}}
        </p>
      </a>
    </div>
    {% endfor%} {% endblock content%}
  </div>
</section>
