<section class="bookmark-page">
  <div class="row">
    {% for book in bookmarks %} {%if session.username==book.username%}
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          {%for cat in categories%} {% if cat.category_name ==
          book.category_name %}
          <h2 class="card-title text-oswald uppercase">
            {{cat.category_name| truncate(30, killwords=True) }}
          </h2>
          <hr class="hr-color" />
          {%endif%} {%endfor%}
          <p class="card-text text-barlow">
            <a href="{{book.add_bookmark_url}}" target="_blank"
              >{{book.add_bookmark_url| truncate(30, killwords=True) }}</a
            >
          </p>
          <p class="card-text">
            {{book.bookmark_description |truncate (50, killwords=True) }}
          </p>
          <p class="card-text text-barlow">
            Added on {{ moment().format('MMMM Do YYYY') }}
          </p>
          <a
            href="{{url_for('remove_bookmark', book_id=book._id)}}"
            class="btn btn-primary"
            >Delete</a
          >
          <a
            href="{{url_for('edit_bookmark', book_id=book._id)}}"
            class="btn btn-primary"
            >Edit</a
          >
        </div>
      </div>
    </div>
    {%endif%} {%endfor%}
  </div>
</section>
