{% extends 'base.html' %} {% block content %}
<section class="bookmark-page">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <h2 class="bookmarks-header text-oswald mt-5 text-center uppercase">
        Categories for {{session.username}}
      </h2>
      <hr class="hr-color" />
    </div>
  </div>

  {% for cat in categories %} {%if session.username==cat.username%}
  <div class="row justify-content-center">
    <div class="card">
      <div class="card-body text-center yellow-background">
        <div class="row">
          <div class="col text-oswald uppercase">
            <h3>
              {{cat.category_name| truncate(30, killwords=True) }}
            </h3>
            <hr class="hr-color" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="btn btn-primary btn-small btn-link btn-bookmark-page"
            >
              <a
                href="{{url_for('delete_category', cat_id=cat._id)}}"
                class="btn-bookmark-page"
                >Delete</a
              >
            </button>
            <button
              type="button"
              class="btn btn-primary btn-small btn-link btn-bookmark-page"
            >
              <a
                href="{{url_for('edit_category', cat_id=cat._id)}}"
                class="btn-bookmark-page"
              >
                Edit</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1>hello</h1>
  {%endif%} {% endfor %}
</section>
{% endblock content%}
