<!-- extends base html  -->
{% extends 'base.html' %}
<!-- starts block content -->
{% block content %}
<!-- categories  section  -->
<section>
  <!--row displays categoreis for user along with the name of  which ever user is logged in  -->
  <div class="row justify-content-center">
    <!--start of  col -->
    <div class="col-lg-4">
      <h2 class="bookmarks-header text-oswald mt-5 text-center uppercase">
        Categories for {{session.username}}
      </h2>
      <hr class="hr-color" />
    </div>
    <!-- end of col -->
  </div>
  <!-- end of row-->

  <!-- start of row which wraps the bootstrap cards which displays the categories-->
  <div class="row">
    <!--first loop through categories -->
    {% for cat in categories %}
    <!-- denfensive element categories will only be displayed if the session username matches the username for that category from the database -->
    {%if session.username==cat.username%}
    <!-- start of col  which wraps entrie bootstrap card-->
    <div class="col-md-6">
      <!-- start of card -->
      <div class="card">
        <!-- card body -->
        <div class="card-body text-center">
          <!-- start of row which wraps the category name -->
          <div class="row">
            <!-- start of col  -->
            <div class="col text-oswald uppercase card-title">
              <h3>
                {{cat.category_name| truncate(30, killwords=True) }}
              </h3>
              <hr class="hr-color" />
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->

          <div class="row">
            <!-- start of col  -->
            <div class="col text-oswald">
              <h4></h4>
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->

          <!-- start of row which wraps the edit an delete buttons -->
          <div class="row justify-content-around">
            <!-- start of col -->
            <div class="col">
              <a
                href="{{url_for('delete_category', cat_id=cat._id)}}"
                class="btn white text-barlow col-3 cat-btn"
                >Delete</a
              >
              <a
                href="{{url_for('edit_category', cat_id=cat._id)}}"
                class="btn white text-barlow col-3 cat-btn"
              >
                Edit</a
              >
              <a
                href="{{url_for('add_bookmark')}}"
                class="btn white text-barlow col-5 col-xl-3 cat-btn"
              >
                Add Bookmark</a
              >
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row-->
        </div>
        <!-- end of card body -->
      </div>
      <!-- end of card -->
    </div>
    {%endif%}
    <!-- end of if statement -->
    {% endfor %}
    <!-- end of for loop -->
  </div>
</section>
<!-- ends ection -->
{% endblock content%}
<!-- end block content -->
