{% extends 'base.html' %} {% block content %}
<section class="yellow-background  bookmark-page">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <h2 class="bookmarks-header text-oswald mt-5 text-center">
        Categories for {{session.username}}
      </h2>
    </div>
  </div>

  {% for cat in categories %}
  <div class="row justify-content-center">
    <div class="card">
      <div class="card-body text-center yellow-background">
        <div class="row">
          <div class="col text-barlow">
            <h3>
              {{cat.category_name }}
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="btn btn-primary btn-small btn-link btn-bookmark-page"
            >
              <a href="" class="btn-bookmark-page">Delete</a>
            </button>
            <button
              type="button"
              class="btn btn-primary btn-small btn-link btn-bookmark-page"
            >
              <a href="" class="btn-bookmark-page"> Edit</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock content%}
