{% extends 'base.html' %} {% block content %}
<!-- taken an modified from tutorial https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=simple-login-form-->
{%if session.username==book.username%}
<section>
  <div class="signup-form mt-5">
    <form
      action="{{ url_for('remove_bookmark', book_id=book._id) }}"
      method="post"
    >
      <h2 class="text-center text-barlow">
        Confirm bookmark Delete
      </h2>
      <div class="form-group">
        <input
          id="add_bookmark_url"
          type="text"
          class="form-control"
          name="add_bookmark_url"
          value="{{book.add_bookmark_url| truncate(30, killwords=True) }}"
          required="required"
        />
      </div>
      {%include "list_categories.html"%}
      <div class="form-group">
        <textarea
          id="bookmark_description"
          class="form-control text-barlow"
          name="bookmark_description"
          rows="5"
        >
{{book.bookmark_description |truncate (50, killwords=True) }}</textarea
        >
      </div>
      <div class="row">
        <div class="col text-barlow text-center text-danger">
          <h5>
            By clicking this button you will permently delete a bookmark. This
            action cannot be undone!
          </h5>
        </div>
      </div>
      <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary btn-block text-barlow">
          Confirm delete
        </button>
      </div>
    </form>
  </div>
</section>
{%endif%} {% endblock content %}
