<!-- extends base html -->
{% extends 'base.html' %}

<!-- start block content -->
{% block content %}

<!-- taken an modified from tutorial https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=simple-login-form-->

<!-- defensive element section can only be viewied if the session username matches the username of the bookmark -->
{%if session.username==book.username%}

<!-- start section -->
<section>
  <!-- start of div that wraps the entire form -->
  <div class="signup-form mt-5">
    <!-- start of form activates update bookmark route located in app.py-->
    <form
      action="{{ url_for('update_bookmark', book_id=book._id) }}"
      method="post"
    >
      <!--form header -->
      <h2 class="text-center text-barlow">
        Edit bookmark
      </h2>
      <!-- end header -->

      <!--start of input form group -->
      <div class="form-group">
        <!-- input displays url of the bookmark delete button was clicked   -->
        <input
          id="add_bookmark_url"
          type="text"
          class="form-control"
          name="add_bookmark_url"
          value="{{book.add_bookmark_url| truncate(30, killwords=True) }}"
          required="required"
        />
      </div>
      <!-- end form group -->

      <!-- instructions paragraph -->
      <h3 class="text-barlow">
        Added on {{book.last_modified}}
      </h3>
      <!-- end paragraph -->

      <!-- user will add a category here categories in separate non rendered html file -->
      {%include "partials/_list_categories.html"%}

      <!-- start of form group that displays bookmark description -->
      <div class="form-group">
        <!-- textarea thta displays bookmarks description this can be edited here-->
        <textarea
          id="bookmark_description"
          class="form-control text-barlow"
          name="bookmark_description"
          rows="5"
        >
{{book.bookmark_description |truncate (50, killwords=True) }}</textarea
        >
      </div>
      <!-- end form group -->

      <!-- start of form group that wraps confirm delete button -->
      <div class="form-group text-center">
        <!-- confirm delete button -->
        <button type="submit" class="btn white text-barlow">
          Confirm
        </button>
        <!-- confirm delete button -->
      </div>
      <!-- end form group -->
    </form>
    <!-- end form -->
  </div>
  <!-- end from wrapper div -->
</section>
<!-- end section -->
{%endif%}
<!-- end defensive element if statment -->
{% endblock content %}
<!-- end block content -->
