{% extends 'base.html' %} {% block content %}
<div id="callout-text">
  <section class="img-wrapper callout-container row">
    <div class="col-10 col-md-8">
      {% if not session['logged_in'] == True %}
      <p class="text-oswald white callout-main-text">
        Tired of having a long list of bookmarks and no Idea of what you
        bookmarked, when you bookmarked it and why? The answer to all your
        problems is here organize your bookmarks with our bookmarks organiser
        app. Please register and then login In to use the app.
      </p>
      {% endif %} {% if session['logged_in'] == True %}
      <p class="text-oswald white callout-main-text">
        You are now logged In an free to add, delete update and create your
        bookmarks please look at our examples below and the head to the
        bookmarks section to begin creating your own unique bookmarks orginser.
      </p>
      {% endif %}
      <div class="row justify-content-center">
        {% if not session['logged_in'] == True %}
        <button type="button" class="data-btn col-md-3  btn-primary">
          <a href="{{url_for('register')}}" class="text-oswald white">
            Register here</a
          >
        </button>
        {% endif %} {% if session['logged_in'] == True %}
        <button type="button" class="data-btn col-md-3  btn-primary">
          <a href="{{url_for('user_bookmarks')}}" class="text-oswald white">
            Bookmarks</a
          >
        </button>
        {% endif %}
      </div>
    </div>
  </section>
  <!-- boomarks section here for bookmarks added by all users -->
  {% if session['logged_in'] == True %}
  <section class="bookmark-page">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <h2 class="bookmarks-header text-oswald mt-5 text-center">
          Most recently added bookmarks
        </h2>
      </div>
    </div>
    {% for book in bookmarks %}
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body text-center yellow-background">
            <div class="row">
              <div class="col text-barlow">
                <h3>
                  {{book.bookmark_description |truncate (50, killwords=True) }}
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col text-barlow">
                <h4>
                  <a href="{{book.add_bookmark_url}}" target="_blank"
                    >{{book.add_bookmark_url| truncate(30, killwords=True) }}</a
                  >
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="text-barlow mt-2">
                  Added by {{session.username}}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
  {% endif %} {% endblock content %}
</div>
