<!-- extends base.html -->
{% extends 'base.html' %} 
<!-- strats block content -->
{% block content %}
<!-- starts page that will only ever been seen by a new user or if a repeat user has no bookmarks  added -->
<section>

  <!-- row wraps instuctions for user  -->
  <div class="row justify-content-center mt-4">
    
    <!-- start of col -->
    <div class="col-lg-4">

      <!-- user instuctions along with users name displayed here  -->
      <h5 class="bookmarks-header text-oswald mt-5 text-center">
       
        <mark class="text-dark text-center">{{session.username}}</mark>
        you have no bookmarks added. If you have yet to add a category please
        head to add category page. If a category has already been added please
        head to add bookmarks page.
      </h5>
      <hr class="hr-color" />
   
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

  <!-- row wraps add category and add bookmarks buttons -->
  <div class="row justify-content-center">
    <!-- start col with add category button-->
    <div class="col-lg-3 text-center">
      <a href="{{url_for('add_category')}}" class="btn btn-primary"
        >Add category</a
      >
    </div>
    <!-- end col -->

    <!-- start of col with add bookmarks button -->
    <div class="col-lg-3 text-center">
      <a href="{{url_for('add_bookmark')}}" class="btn btn-primary"
        >Add bookmark</a
      >
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</section>
<!-- end section -->
{% endblock content%}
<!-- end block content -->
