{% extends 'base.html' %} {% block content %}
<section>
  <div class="row justify-content-center mt-4">
    <div class="col-lg-4">
      <h5 class="bookmarks-header text-oswald mt-5 text-center">
        <mark class="text-dark text-center">{{session.username}}</mark>
        you have no categories added. Please head to the add categories page.
        <hr class="hr-color" />
      </h5>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-3 text-center">
      <a href="{{url_for('add_category')}}" class="btn btn-primary"
        >Add category</a
      >
    </div>
  </div>
</section>

{% endblock content%}
