<!-- extends base.html -->
{% extends 'base.html' %}
<!-- strats block content -->
{% block content %}
<!-- starts page that will only ever been seen by a new user or if a repeat user has no categories added -->
<section>
  <!-- row wraps instuctions for user  -->
  <div class="row justify-content-center mt-4">
    <!-- start of col -->
    <div class="col-lg-4">
      <!-- user instuctions along with users name displayed here  -->
      <h5 class="text-oswald mt-5 text-center purple">
        <mark class="text-dark text-center">{{session.username}}</mark>
        you have no categories added. Please head to the add categories page.
      </h5>
      <hr class="hr-color" />
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

  <!-- row wraps add category button -->
  <div class="row justify-content-center">
    <!-- start col -->
    <div class="col-lg-3 text-center">
      <!-- button -->
      <a href="{{url_for('add_category')}}" class="btn white text-barlow"
        >Add Category</a
      >
      <!-- end button -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
  <!-- start img wrapper row -->
  <div class="row mt-5">
    <!-- start img wrapper col -->
    <div class="col text-center">
      <!-- start img -->
      <img
        src="https://res.cloudinary.com/plyn85/image/upload/c_scale,w_200/v1586212008/bookmarks-app/magazine-clipart-student-book-6_atesf2.png"
        alt="an image of a book"
        class="img-fluid"
      />
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</section>
<!-- end section -->
{% endblock content%}
<!-- end block content -->
