<!-- extends base.html -->
{% extends 'base.html' %}

<!-- start of  block content -->
{% block content %}

<!-- bookmarks section  -->
<section>
  <!--row displays bookmarks for user along with the name of  which ever user is logged in  -->
  <div class="row justify-content-center mt-4">
    <!--start of  col -->
    <div class="col-lg-4">
      <h4 class="text-oswald mt-5 text-center uppercase font-weight-bold">
        Bookmarks for {{session.username}}
      </h4>
      <hr class="hr-color" />
    </div>
    <!-- end of col -->
  </div>
  <!-- end of row-->

  <!-- start  of search bar section-->

  <!-- row wraps search bar -->
  <div class="row mt-2">
    <!-- col that  wraps search bar  -->
    <div class="col text-center">
      <!-- search bar form activates search results route located in app.py -->
      <form action="{{ url_for('user_search_results') }}" method="post">
        <!-- row wraps search bar input  -->
        <div class="row justify-content-center">
          <!-- input search text goes here  -->
          <input
            class="col-8"
            type="text"
            id="search_bar"
            name="user_search_bar"
            placeholder="Search"
          />
          <!-- end input -->

          <!-- submit button for search bar  -->
          <button class="btn white text-barlow col-3 col-lg-1" type="submit">
            Go
          </button>
          <!-- end button -->
        </div>
        <!-- end row -->
      </form>
      <!-- end form -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</section>
<!-- end  section -->

<!-- pagination html page added here  -->
{%include 'partials/_bookmarks.html'%} {% endblock content %}
<!-- end block content -->
