{% extends 'base.html' %} {% block content %}
<!-- users will see this having added a book mark the 
the name of which ever username they set up there account with will be displayed -->
<div class="row justify-content-center mt-4">
  <div class="col-lg-4">
    <h2 class="bookmarks-header text-oswald mt-5 text-center uppercase">
      Bookmarks for {{session.username}}
      <hr class="hr-color" />
    </h2>
  </div>
</div>
<!-- search bar section -->
<div class="row  mt-2">
  <div class="col text-center">
    <form action="{{ url_for('user_search_results') }}" method="POST">
      <div class="row justify-content-center">
        <input
          class="col-8"
          type="text"
          id="search_bar"
          name="user_search_bar"
          placeholder="Search your bookmarks"
        />
        <button class="btn-primary text-barlow col-1" type="submit">
          Go
        </button>
      </div>
    </form>
  </div>
</div>
  {%include 'partials/_bookmarks.html'%}} {%include 'partials/pagination.html'%}{%endblock%}
</div>
